@import "base/fonts";
@import "base/variables";

body{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.heading{
  height: 60px;
  text-align: center;
  padding: 0;
  border-bottom: 4px solid #00796b;
  width: 100%;
}

#switch_label{
  color: #00796b;
  font-size: 18px;
}

#main_switch{
  margin-top: 21px;
  margin-left: 5px;
}

#popup {

  min-width: 300px;
  padding: 20px;


  h2 {
    font-size: 25px;
    text-align: center;
  }

  .images {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    justify-content: center;
    align-items: center;
  }
  
  .image_item {
    border-radius: 8px;
    box-shadow: 0 0 5px #333;
    width: 100%;
    height: 10rem;
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .image_item_inner{
    height: 10rem;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .image_item:hover{
    box-shadow: 0 0 10px #333;
    transform: scale(1.025);
  }

  .selected_image{
    border: 3px solid #00796b;
    .image_item_inner{
      border-radius: 5px;
    }
  }
}

.mdc-fab--extended {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}